#
# Copyright 2022 Illumio, Inc. All Rights Reserved.
#

apiVersion: v1
kind: Secret
metadata:
  name: {{ illumio_cven_secret_name }}
  namespace: {{ illumio_cven_namespace }}
type: Opaque
stringData:
  ilo_server: '{{ illumio_pce_hostname }}:{{ illumio_pce_port }}'
  ilo_code: '{{ illumio_pairing_key }}'
