#
# Copyright 2022 Illumio, Inc. All Rights Reserved.
#

apiVersion: v1
kind: Secret
metadata:
  name: {{ illumio_kubelink_secret_name }}
  namespace: {{ illumio_kubelink_namespace }}
type: Opaque
stringData:
  ilo_server: 'https://{{ illumio_pce_hostname }}:{{ illumio_pce_port }}'
  ilo_cluster_uuid: '{{ illumio_container_cluster_id }}'
  ilo_cluster_token: '{{ illumio_container_cluster_token }}'
  ignore_cert: '{{ illumio_kubelink_ignore_cert }}'
  log_level: '{{ illumio_kubelink_log_level }}'
