---
# set up pairing profile and key
- name: "Create or update pairing profile"
  illumio.illumio.pairing_profile:
    pce_hostname: "{{ illumio_pce_hostname }}"
    pce_port: "{{ illumio_pce_port }}"
    pce_org_id: "{{ illumio_pce_org_id }}"
    api_key_username: "{{ illumio_pce_api_key }}"
    api_key_secret: "{{ illumio_pce_api_secret }}"
    name: "{{ illumio_ven_profile_name }}"
    description: "{{ illumio_ven_profile_description }}"
    enforcement_mode: "{{ illumio_ven_enforcement_mode }}"
    visibility_level: "{{ illumio_ven_visibility_level }}"
    labels: "{{ illumio_ven_labels | list }}"
    ven_version: "{{ illumio_ven_version | default(omit) }}"
    enabled: yes
    state: present
  register: pairing_profile_result

- name: "Set pairing profile ID"
  ansible.builtin.set_fact:
    illumio_pairing_profile_id: "{{ pairing_profile_result.pairing_profile['href'] | split('/') | last }}"

- name: "Get new pairing key"
  illumio.illumio.pairing_key:
    pce_hostname: "{{ illumio_pce_hostname }}"
    pce_port: "{{ illumio_pce_port }}"
    pce_org_id: "{{ illumio_pce_org_id }}"
    api_key_username: "{{ illumio_pce_api_key }}"
    api_key_secret: "{{ illumio_pce_api_secret }}"
    pairing_profile_name: "{{ illumio_ven_profile_name }}"
  register: pairing_key_result

- name: "Set pairing key"
  ansible.builtin.set_fact:
    illumio_pairing_key: "{{ pairing_key_result.pairing_key }}"
